@media only screen and (max-width: 600px) {
  :root{
    --header-height:10vh;
    --search-height: 4vh;
    --search-width:60vw;
  }
}
@media only screen and (min-width: 600px) {
  :root{
    --header-height:8vh;
    --search-height: 4vh;
    --search-width:40vw;
  }
}
.App {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

header {
  background-color: skyblue;
  min-height: var(--header-height);
  flex-direction: column;
  justify-content: center;
  color: gray;
  margin-left: 200px;

}

header input{
  height: var(--search-height);
  width: var(--search-width);
  border-style: none; border-radius: 3px;
}
.header {
  position: sticky;
}
.logo{
  height: 60px;
  width: 60px;
}

sign-in{
  background-color: wheat
}

